{
  "ConnectionString": "",
  "SendBack": [
    "MSH|^~\\&|REDACTED|REDACTED|LIFETRACK|REDACTED|@ControlID||ACK^R01|1|P|2.3|",
    "MSA|AA|@ControlID|Message successfully received.|"
  ],
  "ControlIDIndex" : 10
}